.Calculadora {
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:pink;
    width:300px ;
    height: 500px;
    border-radius: 25px;
}

.Calculadora td button {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 20px;
   
}

#resultado{
    display:inline-block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    background-color: rgba(252, 241, 245, 0.849);
    border-radius: 25px;
    overflow-y: scroll;
    
}